<app-background-texture />

<nav class="relative inline-flex h-20 w-full items-center justify-between px-32">
	<div class="flex items-center justify-center gap-2">
		<img
			src="images/logo.svg"
			alt="Logo"
			class="h-12 w-auto"
		/>
		<app-logotype />
	</div>
	<menu class="flex items-center gap-14">
		<a
			href="#1"
			class="hover:text-primary-500 font-sans text-base font-semibold text-neutral-400 decoration-2 underline-offset-8 transition-colors hover:underline"
		>
			Home
		</a>
		<a
			href="#2"
			class="hover:text-primary-500 font-sans text-base font-semibold text-neutral-400 decoration-2 underline-offset-8 transition-colors hover:underline"
		>
			Pesquisa
		</a>
		<a
			href="#3"
			class="hover:text-primary-500 font-sans text-base font-semibold text-neutral-400 decoration-2 underline-offset-8 transition-colors hover:underline"
		>
			Sobre
		</a>
	</menu>
	<div class="flex items-center justify-between gap-2">
		<button class="btn btn-secondary">
			<span class="text-primary-500 text-sm font-semibold leading-tight">Registre-se grátis</span>
		</button>
		<button class="btn btn-primary">
			<span class="text-secondary-50 text-sm font-semibold leading-tight">Login</span>
		</button>
	</div>
</nav>

<main class="relative flex min-h-full w-full items-center justify-center gap-x-28 p-4 py-40">
	<div class="flex flex-col gap-8">
		<div
			class="bg-primary-50 inline-flex h-16 w-max items-start justify-start gap-0.5 rounded-2xl px-3.5 py-4"
		>
			<div class="flex items-center justify-start gap-1.5 rounded-xl px-3 py-2">
				<div class="relative h-4 w-4">
					<div class="bg-primary-500 absolute left-0 top-0 h-4 w-4 rounded-full"></div>
				</div>
				<div class="font-sans text-base font-normal leading-none text-neutral-600">
					Registro grátis
				</div>
			</div>
			<div class="flex items-center justify-start gap-1.5 rounded-xl px-3 py-2">
				<div class="relative h-4 w-4">
					<div class="bg-primary-500 absolute left-0 top-0 h-4 w-4 rounded-full"></div>
				</div>
				<div class="font-sans text-base font-normal leading-none text-neutral-600">Sem taxas</div>
			</div>
			<div class="flex items-center justify-start gap-1.5 rounded-xl px-3 py-2">
				<div class="relative h-4 w-4">
					<div class="bg-primary-500 absolute left-0 top-0 h-4 w-4 rounded-full"></div>
				</div>
				<div class="font-sans text-base font-normal leading-none text-neutral-600">
					Rápido e prático
				</div>
			</div>
		</div>
		<div class="font-sans text-5xl font-light text-neutral-800">
			Faça a diferença com apenas
			<br />
			<strong class="text-primary-600 font-bold">um helpinho</strong>
		</div>
		<div class="w-auto font-sans text-2xl">
			<span class="font-normal text-neutral-600">
				Os helpinhos podem parecer pequenos, mas
				<br />
				juntos fazem a
			</span>
			<span class="text-primary-600 font-bold">diferença na vida de todos</span>
		</div>
		<button class="btn btn-primary w-fit py-6">
			<span class="text-secondary-50 text-sm font-semibold leading-tight">Registre-se grátis</span>
		</button>
	</div>
	<div class="relative flex items-end justify-center gap-10">
		<img
			src="images/dotted-scribble.svg"
			alt="Dotted Scribble"
			class="h-65 absolute -bottom-16 -left-40 -z-10"
		/>
		<img
			src="images/scribble-pointed.svg"
			alt="Pointed Scribble"
			class="h-65 absolute -bottom-16 right-40 -z-10"
		/>
		<picture>
			<img
				src="images/woman.png"
				alt="Woman"
				class="h-full w-full rounded-full"
			/>
		</picture>
		<picture class="relative h-96 w-48">
			<img
				src="images/man.png"
				alt="Man"
				class="h-full w-full rounded-full"
			/>
		</picture>
	</div>
</main>

<router-outlet />
