<app-background-texture />

<nav class="relative inline-flex h-20 w-full items-center justify-between px-32">
	<div class="flex items-center justify-center gap-2">
		<img
			src="images/logo.svg"
			alt="Logo"
			class="h-12 w-auto"
		/>
		<app-logotype />
	</div>
	<menu class="flex items-center gap-14">
		<a
			href="#1"
			class="font-sans text-base font-semibold text-neutral-400 decoration-2 underline-offset-8 transition-colors hover:text-primary-500 hover:underline"
		>
			Home
		</a>
		<a
			href="#2"
			class="font-sans text-base font-semibold text-neutral-400 decoration-2 underline-offset-8 transition-colors hover:text-primary-500 hover:underline"
		>
			Pesquisa
		</a>
		<a
			href="#3"
			class="font-sans text-base font-semibold text-neutral-400 decoration-2 underline-offset-8 transition-colors hover:text-primary-500 hover:underline"
		>
			Sobre
		</a>
	</menu>
	<div class="flex items-center justify-between gap-2">
		<button class="btn btn-secondary">
			<span class="text-sm font-semibold leading-tight text-primary-500">Registre-se grátis</span>
		</button>
		<button class="btn btn-primary">
			<span class="text-sm font-semibold leading-tight text-secondary-50">Login</span>
		</button>
	</div>
</nav>

<app-homepage />

<router-outlet />
